# Conector para Snowflake
snowflake-connector-python==3.6.0
snowflake-sqlalchemy==1.5.1

# Para hacer requests HTTP (APIs)
requests==2.31.0

# Procesamiento de datos
pandas==2.1.4

# Para leer archivos Excel si es necesario
openpyxl==3.1.2

# Validación de datos
great-expectations==0.18.8

# Variables de entorno
python-dotenv==1.0.0

# Logs estructurados
python-json-logger==2.0.7

# Proveedor de Docker para Airflow
# Necesario para que BashOperator pueda usar `docker exec`
# y para futura integración con DockerOperator si se necesita
apache-airflow-providers-docker==3.8.0